/* Imagem full
 * ====================================================== */

.wrapper-full-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.wrapper-full-img .wrapper-img {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.wrapper-full-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  max-width: none;
}

/* Alinhamento vertical
 * ====================================================== */

.vertical-align {
  display: table;
  width: 100%;
  height: 100%;
}
.vertical-align > * {
  display: table-cell;
  vertical-align: middle;
}

/* Distribuir
 * ====================================================== */

.distribute {
  text-align: justify;
}
.distribute:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.distribute > * {
  display: inline-block;
  vertical-align: middle;
}